USE [master]
GO
/****** Object:  Database [HealthAlert_MVP]    Script Date: 07/10/2026 6:45:51 pm ******/
CREATE DATABASE [HealthAlert_MVP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthAlert_MVP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HealthAlert_MVP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthAlert_MVP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HealthAlert_MVP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthAlert_MVP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthAlert_MVP]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAlerts]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAlerts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [bigint] NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Disease] [nvarchar](max) NULL,
	[Kind] [nvarchar](max) NULL,
	[Muni] [nvarchar](max) NULL,
	[PlaybookCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblAlerts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAuditTrail]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuditTrail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_tblAuditTrail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCases]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCases](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [bigint] NULL,
	[FeedId] [bigint] NULL,
	[SourceKey] [nvarchar](450) NULL,
	[Count] [float] NULL,
	[ReportedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_tblCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCovariateReadings]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCovariateReadings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Place] [nvarchar](max) NULL,
	[Date] [datetime2](7) NULL,
	[Source] [nvarchar](max) NULL,
	[Payload] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblCovariateReadings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDiseases]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDiseases](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblDiseases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeeds]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeeds](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblFeeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblForecastModels]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblForecastModels](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Disease] [nvarchar](max) NULL,
	[Version] [int] NOT NULL,
	[CoeffsJson] [nvarchar](max) NULL,
	[TrainedFrom] [datetime2](7) NULL,
	[TrainedTo] [datetime2](7) NULL,
	[Rmse] [float] NULL,
	[Mae] [float] NULL,
	[R2] [float] NULL,
	[Status] [nvarchar](max) NULL,
	[BaselineMae] [float] NULL,
	[BaselineName] [nvarchar](max) NULL,
	[BaselineRmse] [float] NULL,
 CONSTRAINT [PK_tblForecastModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblForecastRuns]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblForecastRuns](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [bigint] NULL,
	[Probability] [float] NULL,
	[Band] [nvarchar](max) NULL,
	[Drivers] [nvarchar](max) NULL,
	[Muni] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblForecastRuns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOutbox]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOutbox](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdempotencyKey] [nvarchar](max) NULL,
	[Payload] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblOutbox] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPlacePopulation]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlacePopulation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Province] [nvarchar](450) NULL,
	[Municipality] [nvarchar](450) NULL,
	[Barangay] [nvarchar](450) NULL,
	[Population] [bigint] NOT NULL,
	[RefYear] [int] NOT NULL,
	[Source] [nvarchar](max) NULL,
	[UploadedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_tblPlacePopulation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPlaybookExecutions]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlaybookExecutions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PlaybookId] [bigint] NULL,
	[Status] [nvarchar](max) NULL,
	[Log] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblPlaybookExecutions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPlaybooks]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlaybooks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblPlaybooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRagDocs]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRagDocs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Doc] [nvarchar](max) NULL,
	[Chapter] [nvarchar](max) NULL,
	[Page] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Source] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblRagDocs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRiskThresholds]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRiskThresholds](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Disease] [nvarchar](max) NULL,
	[HighProb] [float] NOT NULL,
	[WatchProb] [float] NOT NULL,
	[VelocityHigh] [float] NOT NULL,
	[VelocityWatch] [float] NOT NULL,
	[CovariateKey] [nvarchar](max) NULL,
	[CovariateHigh] [float] NOT NULL,
	[Citation] [nvarchar](max) NULL,
	[Method] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblRiskThresholds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUploadBatches]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUploadBatches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[UploadedBy] [nvarchar](max) NULL,
	[UploadedAt] [datetime2](7) NULL,
	[Status] [nvarchar](max) NULL,
	[Accepted] [int] NOT NULL,
	[Quarantined] [int] NOT NULL,
	[Duplicates] [int] NOT NULL,
 CONSTRAINT [PK_tblUploadBatches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUploadIssues]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUploadIssues](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchId] [bigint] NOT NULL,
	[Row] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[RawLine] [nvarchar](max) NULL,
	[SourceKey] [nvarchar](max) NULL,
	[Disease] [nvarchar](max) NULL,
	[Count] [float] NULL,
	[ReportedAt] [datetime2](7) NULL,
	[Resolved] [bit] NOT NULL,
	[Resolution] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblUploadIssues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 07/10/2026 6:45:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260928043414_Init', N'10.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260928044902_UniqueSourceKey', N'10.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260928050000_ForecastRunMuni', N'10.0.0')
GO
SET IDENTITY_INSERT [dbo].[tblAlerts] ON 

INSERT [dbo].[tblAlerts] ([Id], [DiseaseId], [Message], [Status], [Disease], [Kind], [Muni], [PlaybookCode]) VALUES (1, 1, N'Dengue hotspot: Brgy San Roque', N'new', NULL, NULL, NULL, NULL)
INSERT [dbo].[tblAlerts] ([Id], [DiseaseId], [Message], [Status], [Disease], [Kind], [Muni], [PlaybookCode]) VALUES (2, NULL, N'All systems healthy', N'active', NULL, NULL, NULL, NULL)
INSERT [dbo].[tblAlerts] ([Id], [DiseaseId], [Message], [Status], [Disease], [Kind], [Muni], [PlaybookCode]) VALUES (3, NULL, N'Workflow exception logged in surveillance cluster', N'active', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblAlerts] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCases] ON 

INSERT [dbo].[tblCases] ([Id], [DiseaseId], [FeedId], [SourceKey], [Count], [ReportedAt]) VALUES (1335, 1, 21, N'San Fernando City|Bethany Hospital / CHO San Fernando|2026-W41|dengue', 0, CAST(N'2026-10-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblCases] ([Id], [DiseaseId], [FeedId], [SourceKey], [Count], [ReportedAt]) VALUES (1336, 2, 21, N'San Fernando City|Bethany Hospital / CHO San Fernando|2026-W41|leptospirosis', 9, CAST(N'2026-10-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblCases] ([Id], [DiseaseId], [FeedId], [SourceKey], [Count], [ReportedAt]) VALUES (1337, 3, 21, N'San Fernando City|Bethany Hospital / CHO San Fernando|2026-W41|ili', 28, CAST(N'2026-10-05T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[tblCases] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCovariateReadings] ON 

INSERT [dbo].[tblCovariateReadings] ([Id], [Place], [Date], [Source], [Payload]) VALUES (1, N'San Fernando City', CAST(N'2026-09-27T00:00:00.0000000' AS DateTime2), N'seed-fallback', N'{"rainMm":112.5,"tempC":31.4,"aqi":42,"pageviews":180}')
SET IDENTITY_INSERT [dbo].[tblCovariateReadings] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDiseases] ON 

INSERT [dbo].[tblDiseases] ([Id], [Code], [Category]) VALUES (1, N'dengue', N'vector')
INSERT [dbo].[tblDiseases] ([Id], [Code], [Category]) VALUES (2, N'leptospirosis', N'waterborne')
INSERT [dbo].[tblDiseases] ([Id], [Code], [Category]) VALUES (3, N'ili', N'respiratory')
SET IDENTITY_INSERT [dbo].[tblDiseases] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFeeds] ON 

INSERT [dbo].[tblFeeds] ([Id], [Code], [Name]) VALUES (1, N'feed-1', N'feed-1')
INSERT [dbo].[tblFeeds] ([Id], [Code], [Name]) VALUES (2, N'feed-2', N'feed-2')
INSERT [dbo].[tblFeeds] ([Id], [Code], [Name]) VALUES (3, N'feed-3', N'feed-3')
SET IDENTITY_INSERT [dbo].[tblFeeds] OFF
GO
SET IDENTITY_INSERT [dbo].[tblForecastModels] ON 

INSERT [dbo].[tblForecastModels] ([Id], [Disease], [Version], [CoeffsJson], [TrainedFrom], [TrainedTo], [Rmse], [Mae], [R2], [Status], [BaselineMae], [BaselineName], [BaselineRmse]) VALUES (1, N'dengue', 1, N'[6.294264496984948,0.2826487138692086,0.23121025063425324,0,0.4797279792005943,0,0,0]', CAST(N'2026-09-28T05:03:37.3118025' AS DateTime2), CAST(N'2026-10-01T12:00:09.0779869' AS DateTime2), 16.211131383788953, 11.723268972811095, -0.16522177493527579, N'challenger', 7.3999999999999995, N'persistence', 18.021552753199813)
INSERT [dbo].[tblForecastModels] ([Id], [Disease], [Version], [CoeffsJson], [TrainedFrom], [TrainedTo], [Rmse], [Mae], [R2], [Status], [BaselineMae], [BaselineName], [BaselineRmse]) VALUES (2, N'leptospirosis', 1, N'[2.3209019981002608,0.20140901849436615,0.26189006305051676,0,0.042256963141288344,0,0,0]', CAST(N'2026-09-30T02:03:04.3625033' AS DateTime2), CAST(N'2026-10-01T12:00:09.0779869' AS DateTime2), 9.1351582705727, 5.8895200910316188, -0.38238006597201757, N'challenger', 2.8583333333333334, N'persistence', 10.049847981160932)
INSERT [dbo].[tblForecastModels] ([Id], [Disease], [Version], [CoeffsJson], [TrainedFrom], [TrainedTo], [Rmse], [Mae], [R2], [Status], [BaselineMae], [BaselineName], [BaselineRmse]) VALUES (3, N'ili', 1, N'[21.944622338605416,-0.12151040014240852,-0.07781085865304475,0,0.1550312909967865,0,0,0]', CAST(N'2026-09-30T02:03:04.5154521' AS DateTime2), CAST(N'2026-10-01T12:00:09.0868743' AS DateTime2), 19.751617247040709, 15.802887500012814, -0.27657776106617771, N'challenger', 15.878787878787879, N'seasonal-naive-52', 25.371183845003561)
SET IDENTITY_INSERT [dbo].[tblForecastModels] OFF
GO
SET IDENTITY_INSERT [dbo].[tblForecastRuns] ON 

INSERT [dbo].[tblForecastRuns] ([Id], [DiseaseId], [Probability], [Band], [Drivers], [Muni]) VALUES (1, 1, 0.24, N'Caution', N'cases,temperature,rainfall', N'San Fernando')
INSERT [dbo].[tblForecastRuns] ([Id], [DiseaseId], [Probability], [Band], [Drivers], [Muni]) VALUES (2, 1, 0.24, N'Caution', N'cases,temperature,rainfall', N'San Fernando')
INSERT [dbo].[tblForecastRuns] ([Id], [DiseaseId], [Probability], [Band], [Drivers], [Muni]) VALUES (3, 2, 0.45, N'heavy', N'rainfall,flood', N'Agoo')
SET IDENTITY_INSERT [dbo].[tblForecastRuns] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPlacePopulation] ON 

INSERT [dbo].[tblPlacePopulation] ([Id], [Province], [Municipality], [Barangay], [Population], [RefYear], [Source], [UploadedBy], [UpdatedAt]) VALUES (1, N'La Union', N'Agoo', N'San Nicolas', 3200, 2024, N'cbms', N'encoder', CAST(N'2026-10-04T21:44:12.9294372' AS DateTime2))
INSERT [dbo].[tblPlacePopulation] ([Id], [Province], [Municipality], [Barangay], [Population], [RefYear], [Source], [UploadedBy], [UpdatedAt]) VALUES (2, N'La Union', N'Bauang', N'Central East', 4100, 2024, N'rhu-record', N'encoder', CAST(N'2026-10-04T21:44:12.9294372' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tblPlacePopulation] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPlaybookExecutions] ON 

INSERT [dbo].[tblPlaybookExecutions] ([Id], [PlaybookId], [Status], [Log]) VALUES (1, 1, N'done', N'executed 1')
INSERT [dbo].[tblPlaybookExecutions] ([Id], [PlaybookId], [Status], [Log]) VALUES (2, 1, N'done', N'executed 1')
SET IDENTITY_INSERT [dbo].[tblPlaybookExecutions] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPlaybooks] ON 

INSERT [dbo].[tblPlaybooks] ([Id], [Code], [Title]) VALUES (1, N'dengue-outbreak', N'Dengue Outbreak Response')
INSERT [dbo].[tblPlaybooks] ([Id], [Code], [Title]) VALUES (2, N'flood-lepto', N'Flood Lepto Response')
SET IDENTITY_INSERT [dbo].[tblPlaybooks] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRagDocs] ON 

INSERT [dbo].[tblRagDocs] ([Id], [Doc], [Chapter], [Page], [Content], [Source]) VALUES (2, N'DOH Clinical Practice Guidelines on Dengue', N'Warning Signs and Triage', N'CPG Dengue', N'Refer dengue patients with warning signs (abdominal pain, persistent vomiting, fluid accumulation, mucosal bleeding, lethargy, liver enlargement, rising hematocrit with falling platelets) to a facility with inpatient capacity the same day. Start oral rehydration early for Group A outpatients.', N'DOH')
INSERT [dbo].[tblRagDocs] ([Id], [Doc], [Chapter], [Page], [Content], [Source]) VALUES (3, N'WHO Dengue Guidelines for Diagnosis, Treatment, Prevention and Control', N'Vector Control', N'Ch.4', N'Apply targeted larval control (temephos/Bti) to non-removable water containers and destroy disposable breeding sites within 100m of index households; repeat entomological survey after 7 days.', N'WHO')
INSERT [dbo].[tblRagDocs] ([Id], [Doc], [Chapter], [Page], [Content], [Source]) VALUES (4, N'DOH Leptospirosis Prevention and Control Guidelines', N'Chemoprophylaxis', N'Lepto CPG', N'Give doxycycline 200mg single dose as chemoprophylaxis to high-risk flood-exposed individuals per DOH protocol; treat suspected leptospirosis early and do not wait for confirmatory serology.', N'DOH')
SET IDENTITY_INSERT [dbo].[tblRagDocs] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRiskThresholds] ON 

INSERT [dbo].[tblRiskThresholds] ([Id], [Disease], [HighProb], [WatchProb], [VelocityHigh], [VelocityWatch], [CovariateKey], [CovariateHigh], [Citation], [Method]) VALUES (1, N'dengue', 0.84, 0.63, 1.4, 1.15, N'breteau', 20, N'WHO TDR dengue surveillance handbook (2016); Brady et al., PLoS NTD 2013; WHO EWARS dengue (2017)', N'endemic-channel+2SD excl-max-year; EARS-C1 k=3; Serfling k=1.64; MEM 40/90/97.5; prob=logistic(z); velocity grid-selected')
INSERT [dbo].[tblRiskThresholds] ([Id], [Disease], [HighProb], [WatchProb], [VelocityHigh], [VelocityWatch], [CovariateKey], [CovariateHigh], [Citation], [Method]) VALUES (2, N'leptospirosis', 0.84, 0.63, 1.4, 1.15, N'rainMm', 150, N'WHO TDR dengue surveillance handbook (2016); Hutwagner et al., MMWR 2003 (EARS); WHO EWARS dengue (2017)', N'endemic-channel+2SD excl-max-year; EARS-C1 k=3; Serfling k=1.64; MEM 40/90/97.5; prob=logistic(z); velocity grid-selected')
INSERT [dbo].[tblRiskThresholds] ([Id], [Disease], [HighProb], [WatchProb], [VelocityHigh], [VelocityWatch], [CovariateKey], [CovariateHigh], [Citation], [Method]) VALUES (3, N'ili', 0.84, 0.63, 1.4, 1.15, N'pageviews', 800, N'Serfling, Am J Public Health 1963; CDC ILINet; Vega et al. MEM (WHO method)', N'endemic-channel+2SD excl-max-year; EARS-C1 k=3; Serfling k=1.64; MEM 40/90/97.5; prob=logistic(z); velocity grid-selected')
SET IDENTITY_INSERT [dbo].[tblRiskThresholds] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUploadBatches] ON 

INSERT [dbo].[tblUploadBatches] ([Id], [FileName], [UploadedBy], [UploadedAt], [Status], [Accepted], [Quarantined], [Duplicates]) VALUES (4, N'task6_seed.csv', N'guest', CAST(N'2026-10-06T13:25:45.8411785' AS DateTime2), N'clean', 800, 0, 1408)
SET IDENTITY_INSERT [dbo].[tblUploadBatches] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([Id], [Username], [Role], [IsActive]) VALUES (1, N'mho', N'MHO', 1)
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblCases_SourceKey]    Script Date: 07/10/2026 6:45:51 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCases_SourceKey] ON [dbo].[tblCases]
(
	[SourceKey] ASC
)
WHERE ([SourceKey] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPlacePopulation_Province_Municipality_Barangay_RefYear]    Script Date: 07/10/2026 6:45:51 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblPlacePopulation_Province_Municipality_Barangay_RefYear] ON [dbo].[tblPlacePopulation]
(
	[Province] ASC,
	[Municipality] ASC,
	[Barangay] ASC,
	[RefYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
USE [master]
GO
